FB_ACCESS_TOKEN=EAANRZC2Ymms8BQ0aTWLFdcLZC2c6dR6D798H3lzZAqjkPZAOHXbHsVaOtd6ZBuqOPXEOihDMqYvSxUniH9HYSEFZBCcqezpjDXylaP4eipBXjmItqQjJ8H1HWeWOfqnG9ZB5zCeqXZAxiGHUCIT5LickvXxBUYZC0HX9uZBcXkHJGOJZBTCzy8ifGZBKV7bmsYb8NBQZAtt1RBb4azeZC3Bbs3vnu8oZCGMXc8ii7j8w8V7JpbBpZC2tMS3xuxkSmZAbTrUutUWewIp8JtrNcY4oKBunCW61XNzGapEcB1vilcFj0wSQZD
FB_AD_ACCOUNT_ID=act=1185827133482318
TELEGRAM_BOT_TOKEN=8605843753:AAF2k-KAeiStZYiXZfrzbMJmQKRkBOzC9VM
TELEGRAM_CHAT_ID=7022703855
GEMINI_API_KEY=AIzaSyCfno4ABGoCzZ4nDdC2sAVZNcFfBSe0mvE
